body {
  background-color: #f8d0a8;
}
h1,
p {
  text-align: center;
}
img {
  display: block;
  text-align: center;
}
footer {
  text-align: center;
}
footer a {
  margin: 0 10px;
  color: #008001;
}
.harry-photo {
  max-width: 100%;
  border-radius: 10px;
  display: block;
  margin: 30px auto;
}
